# dependencies
node_modules/

# build outputs
dist/
storybook-static/

# turbo
.turbo/

# env
.env
.env.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea/
